---
---
<footer class="ph3 ph4-ns pv4 bt b--black-10 black-70 flex">
  <div class="dt w-100 mw10 center">
    <div class="dtc w2 v-mid">
      <a href="mailto:" class="link b f2 f5-ns hover-blue black lh-solid">hello@murshidazher.com</a>
    </div>
    <div class="dtc v-mid tr">
      <a href="https://github.com/murshidazher" title="Github"
        class="link underline-hover f7 dib pr2 black dim">GitHub</a>
      <a href="https://github.com/murshidazher/astro-wheel-of-names/blob/master/LICENCE" title="Terms"
        class="link underline-hover f7 dib ph2 black dim">Terms of Use</a>
      <a href="https://github.com/murshidazher/astro-wheel-of-names/blob/master/LICENCE" title="Privacy"
        class="link underline-hover f7 dib pl2 black dim">Privacy</a>
    </div>
  </div>
</footer>
