---
---
<header class="sans-serif">
  <div class="cover bg-left bg-center-l wrapper">
    <div class="pb1 pb1-m pb1-l">
      <nav class="dt w-100 mw8 center">
        <div class="dtc w2 v-mid pa3">
          <a href="/" class="link dib w2 h2 pa2 f3">
            ✌️
          </a>
        </div>
        <div class="dtc v-mid tr pa3">
          <a class="f6 fw6 hover-blue link black-70 mr3 mr4-m mr5-l dib" href="/">Home</a>
          <a class="f6 fw6 hover-blue link black-70 mr3 mr4-m mr5-l dib" href="/list">Back to List</a>
        </div>
      </nav>
    </div>
  </div>
</header>
